body {
background:#18BC9C;
}

//Menu//
ul {
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: grey;

}

li {
    float: left;
        font-family: sans-serif;
  list-style:none;
  background: #333;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     list-style:
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 2.8em;
  font-weight: 800;
  color:white;
  text-align: center;

}
 h2
{
  font-family: sans-serif;
  color:white;
  text-align: center;
  width:100%;
}

p {
  font-family: sans-serif;
  color:white;
  width:80%;
  margin:auto;

}

#boxes {
width:80%;
margin:auto;
text-align: center;

}
#btns {
  padding:50px;
  background: aquamarine;
  margin-bottom: 20px;
  border-bottom: solid 33px aqua;
  transform: rotate(deg)
    z-index:9999;
}
#btns .button {
  background: white;
  padding-left: 5px 10px;
  border-bottom: : solid 1px red;
  transform: rotate(15deg)

}
.box {
  position:relative;
  width: 100px;
  height: 100px;
  margin: 4px;
  display: inline-block;
}

.red {background: #771010;}
.blue {background: blue;}
.green {background: green;}
.yellow{background: yellow;}

.subheader {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom:20px;
  color:white;

}



.play {
 background-color: black;
  border-radius: 50%;
  border: none;
  width:80px;
  height: 80px;
  font-size: 4em;
  color:white;
  margin-right:20px;
  border-top-left-radius:1%;
    border: none;
  color:white;
  margin-right:20px;
    transform: rotate(-15deg)

}
.pause {
 background-color: black;
  border: none;
  width: 80px;
  height: 80px;
    border-radius: 50%;
border-top-right-radius:1%;
  font-size: em;
  color:white;
  border: none;
  font-size: 4em;
  color:white;
      transform: rotate(15deg)


}
