---
---

@import "{{ site.theme }}";
h1 {
  font-size: 2em;
  text-align:center;
  font-weight: 600;
  color:white;
  padding-top:5vh;
  font-family:'Roboto Slab', serif;
  padding-bottom:40px;
  padding-top:30px;
}
body {
	background: #083039;
}
h2 {
  font-size: 2em;
  text-align:center;
  font-weight: 600;
  color:white;
  padding-top:30px;
  font-family: 'Spirax', cursive;
	padding-bottom:10px;
	line-height: 1.2;
}
p {
    color:white;
    text-align:center;
    font-family: 'Sunflower', sans-serif;
    font-weight:300;
	font-size:1.1em;
	padding-bottom:20px
}
a {
	color: #f49373;
	text-decoration: underline;
}
a:hover {
	color:black;
}

