---
---

@import "{{ site.theme }}";
body {
	background:teal;
}
*{
  margin:0;
  padding:0;
}

  font-family: "Raleway", 'sans-serif';
}

li {
  font-size: 0.6em;
  font-weight: 500;
  list-style-type:none;
}

h1{
  font-size: 2em;
  text-align:center;
  font-weight: 600;
  color:white;
  padding-top:5vh;
  font-family:'Roboto Slab', serif;
  padding-bottom:40px;
  padding-top:30px;
}
h2{
  font-size: 2em;
  text-align:center;
  font-weight: 600;
  color:white;
  padding-top:30px;
  font-family: 'Spirax', cursive;
	padding-bottom:10px;
	line-height: 1.2;
}

p {
    color:white;
    text-align:center;
    font-family: 'Sunflower', sans-serif;
    font-weight:300;
	font-size:1.1em;
	padding-bottom:20px
}

a {
	color: #f49373;
	text-decoration: underline;
}
a:hover{
	color:black;
}
#title{
  text-align: center;
  width: 100%;
  top: 20vh;
  color: white;
  font-size: 4em;
  position: fixed;
  z-index: 10;
  font-weight: 300;
  text-transform: none;
 font-family:'Berkshire Swash', cursive; 
}
#triangle-up {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  /*border-right: 0 solid transparent;*/
  border-bottom: 100vh solid #35495e;
  transition: 2s ease-in-out;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-top: 100vh solid #35495e;
  transition: 2s ease-in-out;
  float: left;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

#button,
#menu {
  position: fixed;
  z-index: 2;
  opacity: 1;
  width: 11vh;
  height: 11vh;
  bottom: 100px;
  left: calc(50% - 5.5vh);
  background-color: #d3562d;
  border: none;
  border-radius: 50%;
  font-family: 'Nanum Myeongjo', serif;
  color: white;
  font-size: 1em;
  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
}

#button:focus,
#menu:focus {
  outline: 0;
}

#button:hover {
  transform: scale(1.2);
}

#button:active {
  transform: scale(1.1);
}

#menuContent {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  z-index: 3;
  opacity: 0.95;	
  
}

#menuContent ul, #menuContent a {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  font-weight: 300;
  height: 100%;
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  text-decoration:none;
  transition:.2s ease-in-out;
}

#menuContent a:hover{
  opacity:0.8;
  transition:.2s ease-in-out;
}

#menuContent li {
  margin-bottom: 20px;
  animation: itemsInefade 2s forwards;
  opacity: 0;
}

@keyframes itemsInefade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#menuContent li:nth-child(2) {
  animation-delay: .2s
}
#menuContent li:nth-child(3) {
  animation-delay: .4s
}
#menuContent li:nth-child(4) {
  animation-delay: .6s
}

#menuContent #menuClose {
  position: absolute;
  top: 20px;
  right: 70px;
  color: white;
  font-size:1em;
  transition:.2s ease-in-out;
  cursor: pointer;
	color:black;
	
	
}

#menuContent #menuClose:hover{
  opacity:0.8;
  transition:.2s ease-in-out;
}

.krassInefade {
  transform: perspective(900px) translateZ(0px);
  opacity: 1;
  transition: 2s ease-out;
}

#triangle-down.usenand {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-top: 100vh solid #1abc9c;
  transition: 2s ease-in-out;
}

#triangle-up.usenand {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 100vh solid #16a085;
  transition: 2s ease-in-out;
}

#menu.toMenu {
  left: 80px;
  bottom: 80px;
  background-color: #d3562d;
  opacity: 1;
  width: 11vh;
  height: 11vh;
  transition: 2s ease-in-out;
  border: 0 solid white;
  border-radius: 50%;
}

#menu.menuTransition {
  width: 100%;
  height: 100%;
  opacity: 0.95;
  border-radius: 0;
  bottom: 0;
  left: 0;
  transition: .5s ease-in-out;
}

section{
  padding-bottom:15vh;
}

.section0{
  background-color:#35495e;
  min-height:100vh;
  
}

.section1{
  background-color:#0B6A64;
  min-height:100vh;
  
}
.section2{
  background-color:teal;
  min-height:100vh;
  
}
.section3{
  background-color:#1BA39C;
  min-height:100vh;
  
}
.section4{
  background-color:#079992;
  min-height:100vh;
  
}

.section4 a {
  color:yellow;
}
.rsvp{
  background-color:#16a085;
  min-height:100vh;
  
}

.credit{
  background-color:#34495e;
  min-height:100vh;
  
}


.content {
  width:80%;
  margin:auto;
  line-height:1.8em;
  min-height:100vh !important;
  padding: 0px;
}

.subtitle {
font-size:0.7em}
/*Mobile style*/

@media only screen and (max-width: 414px) {
	p {
		font-size:1.2em;
		
	}
	
.content {
  width:80%;
  margin:auto;
  line-height:1.8em;
  height:auto;
  padding: 0px;
}

#title{
  text-align: center;
  width: 100%;
  top: 20vh;
  color: #6FFDA9;
  font-size: 2.5em;
	}
	

.contribute {
display:block !important;
	margin:auto;
  width:10% ;
}dis
}

/*End of mobile*/
 .google-map {
        position: relative;
        padding-bottom: 75%; /* This is the aspect ratio*/
        height: 0;
        overflow: hidden;
    }
    .google-map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.contribute {
display:inline-block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
    text-align:center;
}

/*Instagramfeed*/

.instaimg img {margin-bottom:30px;}
.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
}

/*Jucier embed*/

.j-message p{
  color:black !important;
}

.juicer-feed {
  z-index:1 !important;
  
}

.paypal a{
	
	border: 1px solid white;
	padding:10px;
	color:white;
	background:teal;
	box-shadow: 0px 1px 10px 1px var(--box-shadow-color);
	--box-shadow-color: black;
    text-decoration:none;
}

.paypal a:hover{
	
	border: 1px solid white;
	padding:10px;
	color:black;
	background:grey;
	box-shadow: 0px 1px 10px 1px;
    text-decoration:none;
}
.wayang {
	display:block;
	margin:auto;
}

.section4 {
	width:100% !important;
	
}

.video-container 
{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.video-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Skills*/



.wrapper {
  margin: 0 auto;
  width: 90%;
  margin-top: 15px;
}

.bar {
  position: relative;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1.5rem;
  border-radius: 5px;
}
.bar .bar-info {
  border-radius: 5px;
  padding: 0.75rem;
  background: #35495e;
  color: white;
  width: 10%;
  position: relative;
  height: auto;
  transition: width 3.3s ease-in-out;
}
.bar .bar-info .percent {
  float: right;
}
.bar .bar-info.web {
  background:  #fd7473;
}
.bar .bar-info.graphic {
  background: #35495e;
}
.bar .bar-info.cms {
  background: #005568;
}
.bar .bar-info.photography {
  background:#2c3e50;
}
.bar .bar-info.others {
  background: #2A2A2A;
}

}
